@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

input,
button,
select,
textarea{
  font-family: inherit;
}

a{
  text-decoration: none;
}

body{
  font-family: 'bakh-bold';
  direction: rtl;
  
  
}

#root{
  overflow-x: hidden;
}
p , a , ul , li , span , h1 , h2 , h3 ,h4 ,h5  ,input {
  color: rgb(73, 73, 73) ;
}


